/**********************************************
CUSTOM FONTS
in here you can specify the font-face with all of it's values
**********************************************/

@font-face {
  font-family: "TheSansUHHSemiLightCaps";
  font-display: fallback;
  src:
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHSemiLightCaps-6948b01b715690a2b9506f63305ee0c3abd9ad2010d89a1202df00d39d100954.woff2)
      format("woff2"),
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHSemiLightCaps-f2aa5e1a44c9fd5db30254599c5ac8ccc944b711798d961e35924e413d81ad50.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSansUHHBold";
  font-display: fallback;
  src:
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHBold-6a239f69f764ae41ead96462cb9973fdde7c66739769d13776e0dfb896a96ab5.woff2)
      format("woff2"),
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHBold-026d11467c2214c911121580ced3b1fe4d5ba42da11107194e4c378b02a9b46c.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSansUHHBoldCaps";
  font-display: fallback;
  src:
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHBoldCaps-f0c825ec667e94a17d4e77b97493a2586655b053421a08418f0a6a75500eb8a9.woff2)
      format("woff2"),
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHBoldCaps-7fd206907219f3ec347a062d4e7decf51dd742c8fad3d1a9c92609f00e059c1e.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSansUHHRegular";
  font-display: fallback;
  src:
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHRegular-dd85da951afc3550ff98f11056eac2bcbba855c879809fd00caf60929a3cbd4f.woff2)
      format("woff2"),
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHRegular-7af4ba764ea22bd512c10b580f199e97beea980e3bf60090743ee3f5f36c66ce.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSansUHH";
  font-display: fallback;
  src:
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHRegular-dd85da951afc3550ff98f11056eac2bcbba855c879809fd00caf60929a3cbd4f.woff2)
      format("woff2"),
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHRegular-7af4ba764ea22bd512c10b580f199e97beea980e3bf60090743ee3f5f36c66ce.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSansUHHRegularCaps";
  font-display: fallback;
  src:
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHRegularCaps-7072a6f8ebbb26d334ca7e14826795068429a0072220dac594063678de20e698.woff2)
      format("woff2"),
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHRegularCaps-fdce39405f802f0295dd3e70bf62fd3cc725a72d0883c39081af20e0cc90e624.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSansUHHItalic";
  font-display: fallback;
  src:
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHRegularItalic-d3186420f2bbe557092314ef3043b74e450cf52459bc7ce3f2c73f9194e15a79.woff2)
      format("woff2"),
    url(https://assets.rrz.uni-hamburg.de/assets/TheSansUHHRegularItalic-62190ab7d86db0f3eab9e0fca925474c5fe192483468a88b2094dd46c3fe93e2.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}
